body {
    color: #40514E;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;;
}
h1 {
    font-size: 5.625rem;
    margin-top: -30px;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
    padding-bottom: 10px;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
p {
    line-height: 2;
}
a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
}
a:hover {
    color: #eaf6f6;
}
hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.container {
    background-color: #d7fffd;
}
.top-container {
    background-color: #ecfcff;
    position: relative;
    padding-top: 10px;
    width: 100%;
    height: 900px;
.top-cloud {
    // position: absolute;
    width: 250px;
    margin-right: 900px;
    margin-top: 5px;
    margin-bottom: -100px;
}
.bottom-cloud {
    position: absolute;
    width: 250px;
    margin-left: 980px;
    margin-bottom: 300px;
    margin-top: -160px;
   
}
.ladder {
    width: 1100px;
    height: 500px;
    margin-top: 10px;
    margin-left: 105px;
    align-items: center;
}
}

.middle-container {
  margin: 100px 0; 

}
// .profile {

// }
.profile img {
    width: 250px;
    margin-top: 40px;
}
.skill-row {
    width: 50%;
    margin: 100px auto 170px auto;
    text-align: left;
    
}
.intro {
    width: 30%;
    margin: auto;
}
.bottom-container {
    background-color: #66bfbf;
    padding: 50px 0 2px;
 
}
.code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}
// // .code-img-description {
// //     clear: left;
// }
.stereotype-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}
// .stereotype-img-description {
//     clear: right;

// }
.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
	box-shadow: 0px 1px 0px 0px #11999e;
	background-color:#11cdd4;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:8px 15px;
	text-decoration:none;
	text-shadow:0px -1px 0px #3d768a;
}
.btn:hover {
	background-color:#2bc4ad;
}
.btn:active {
	position:relative;
	top:1px;
}
.copyright {
    color: #EAF6F6;
    font-size: 0,75rem;
    padding: 20px 0;
}